.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 90%;
    width: 60%;
    background-color: rgba(206, 127, 255, 0.74);
    border-radius: 5%;
}

.imageContainer {
    width: 200px;
    height: 200px;
    padding: 12%;
}

.image {
    object-fit: cover;
    border-radius: 50%;
}

.conteudo {
    display: flex;
    flex-direction: row-reverse;
    margin: 5%;
}

.button {
    margin: 5%;
}